<h3 class="registrar-doctores">Registrar Doctores</h3>
<form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="epe" class="form-label">Especialidad:</label>
      <input type="text" class="form-control" id="epe">
    </div>
    <div class="mb-3">
        <label for="cedu" class="form-label">Cédula:</label>
        <input type="text" class="form-control" id="cedu">
      </div>
      <div class="mb-3">
        <label for="Exp" class="form-label">Experiencia:</label>
        <input type="text" class="form-control" id="Exp">
      </div>
      <div class="mb-3">
        <label for="corr" class="form-label">Correo:</label>
        <input type="text" class="form-control" id="corr">
      </div>
    <button class="btn btn-primary">Guardar</button>
  </form>

  