<p>Registrar Citas</p>
<form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre completo:</label>
      <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="epe" class="form-label">Cédula:</label>
      <input type="text" class="form-control" id="epe">
    </div>
    <div class="mb-3">
        <label for="cedu" class="form-label">Dirección:</label>
        <input type="text" class="form-control" id="cedu">
      </div>
      <div class="mb-3">
        <label for="Exp" class="form-label">Edad:</label>
        <input type="number" class="form-control" id="Exp">
      </div>
      <div class="mb-3">
        <label for="corr" class="form-label">Diagnostico:</label>
        <input type="text" class="form-control" id="corr">
      </div>
    <button class="btn btn-primary">Guardar</button>
  </form>

  